# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# MSVC
.vs
x64/Debug/
Storm\ of\ Lights.sln
Storm\ of\ Lights.vcxproj
Storm\ of\ Lights.vcxproj.filters
Storm\ of\ Lights.vcxproj.user

# OpenGL
source\ files/glad.c
